      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>{{ ad1.ad_heading }}</h2>
            <p>{{ ad1.ad_content }}</p>
            <p><a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{ ad1.ad_link_tooltip }}" href="{{ ad1.ad_link_url }}" role="button">{{ ad1.ad_link_text }} &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>{{ ad2.ad_heading }}</h2>
            <p>{{ ad2.ad_content }}</p>
            <p><a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{ ad2.ad_link_tooltip }}" href="{{ ad2.ad_link_url }}" role="button">{{ ad2.ad_link_text }} &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>{{ ad3.ad_heading }}</h2>
            <p>{{ ad3.ad_content }}</p>
            <p><a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{ ad3.ad_link_tooltip }}" href="{{ ad3.ad_link_url }}" role="button">{{ ad3.ad_link_text }} &raquo;</a></p>
          </div>
        </div>